@charset "UTF-8";


@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

label[for] {
  cursor:pointer;
  user-select:none;
}

/* 라이브러리 */

.flex-1-0-0 {
  flex: 1 0 0;
}

.flex-jc-e {
  justify-content: flex-end;
}
.width-850{
	width:850px;
}
.padding-0-10 {
  padding-left:10px;
  padding-right:10px;
}

.height-100p {
  height:100%;
}

.hover-link:hover {
  text-decoration:underline;
  color:red;
}
.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-bottom {
  position:absolute;
  bottom:0;
}

.absolute-top {
  position:absolute;
  top:0;
}

.absolute-center {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.absolute-middle.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.relative {
  position:relative;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.clear-both {
  clear:both;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.margin-0-auto {
  margin-left:auto;
  margin-right:auto;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align:right;
}

.line-height-0 {
  line-height:0;
}

.line-height-0 > * {
  line-height:normal;
}
/* 라이브러리 - 디버그 시작 */
.bd-red {
  border:2px solid red;
}

.bd-green {
  border:2px solid green;
}

.bd-blue {
  border:2px solid blue;
}

.bg-red {
  background-color:red;
}

.bg-green {
  background-color:green;
}

.bg-blue {
  background-color:blue;
}
/* 라이브러리 - 디버그 끝 */

/* 라이브러리 - flex */
* > .flex {
  display:flex;
}

.flex-grow-1 {
  flex-grow:1;
}

* > .flex-jc-s {
  justify-content:flex-start;
}

* > .flex-jc-e {
  justify-content:flex-end;
}

* > .flex-jc-sb {
  justify-content:space-between;
}

* > .flex-ai-c {
  align-items:center;
}

* > .flex-ai-s {
  align-items:flex-start;
}

* > .flex-ai-e {
  align-items:flex-end;
}

* > .flex-as-s {
  align-self:stretch;
}

* > .flex-as-c {
  align-self:center;
}

* > .flex-as-s {
  align-self:flex-start;
}

* > .flex-as-e {
  align-self:flex-end;
}

* > .flex-column-nowrap {
  flex-flow:column nowrap;
}

* > .flex-column-wrap {
  flex-flow:column wrap;
}

.flex-ch-basis-0 > * {
  flex-basis:0;
}

* > .flex-1-0-0 {
  flex:1 0 0;
}

/* 커스텀 */

@media ( min-width: 801px ) {
  .visible-sm-down {
    display:none !important;
  }
}

@media ( max-width: 800px ) {
  .visible-md-up {
    display:none !important;
  }
}
:root {
  --site-width:1200px;
}

.con {
  max-width:var(--site-width);
}

.con-min-width {
  min-width:320px;
}

/* 바디콘텐트 시작 */
.body-content {
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

body main {
  flex-grow:1;
}
/* 바디콘텐트 끝 */

/* 로그인 창 시작 */

:root {
--join_width:76.66px;
--id-search_width:76.66px;
--pw-search_width:76.66px;
}


.join {
width:var(--join_width);
}
.id-search {
width:var(--id-search_width);
}
.pw-search {
width:var(--pw-search_width);
}


.login-box > ul > li >a {
  font-weight:bold;
  font-size:1.5rem;
  padding:0 10px;
}
.login-box > ul > li:hover > a {
  color:#6bacce;;
}

.login-top-bar{
	width:100%;
	height:100px;
	background-color:skyblue;
	text-align:center;
}
.login-top-bar > span{
  font-size:4.0rem;
  font-weight:bold; 
  color:rgba(255,255,255,0.7);
}
/* 로그인 창 끝 */


/* 탑바 시작 */

.logo-bar> .con > .logo > span {
  margin-right:50px;  
  width:105px;
  height:100px;
  background-image:url('house.png');
  background-size: cover;
}


.top-bar  {
  
}

#search{
	width:300px;
	height:42px;
	font-size:20px;
}

.menu-bar { 
  background-color:#494949;
  color: rgba(255,255,255,0.7);
  
}


.menu-bar .menu-box-1 > ul > li > a {
  padding: 20px 0;	
  font-size:1.2rem;
  font-weight:bold;
  text-align:center;
}

.menu-bar .menu-box-1 > ul > li:hover > a {
	border-bottom:8px solid black;
}
.menu-box-1 {
	text-align: center;
}
.menu-box-1 > ul > li:hover > ul {
  display:block;
}

.menu-bar .menu-box-1 ul > li {
  position:relative;
  width:100%;	
}

.menu-bar .menu-box-1 > ul ul {
  display:none;
  color:black;
  background-color:white;
  position:absolute;
  top:100%;
  left:0px;
  width:99%;
  border:2px solid black;
  border-top-width:0;
 z-index:100;
}

.menu-bar .menu-box-1 ul > li:hover > ul {
  display:block;
}

.menu-bar .menu-box-1 > ul ul > li > a {
  font-weight:bold;
  text-align:center;
  padding:20px 0;
  border-radius:100%;
}

.menu-bar .menu-box-1 > ul ul > li:hover > a {
  border-bottom: 2px solid color afafaf;
}
/* 탑바 끝 */
/* 모바일 탑바 시작 */
:root {
  --mobile-top-bar__height: 50px;
}
.mobile-title-bar{
	margin-top:60px;
}
.mobile-top-bar > div > a{
	margin-left:10px;
	padding-bottom:5px;
}
.mobile-top-bar > div > a > img{
	margin-right:10px;	
}

.mobile-top-bar {
  background-color: black;
  color: white;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--mobile-top-bar__height);
  z-index:1000;
}

.mobile-top-bar__btn-toggle-mobile-side-bar {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
}

.mobile-top-bar__btn-toggle-mobile-side-bar > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: white;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.mobile-top-bar__btn-toggle-mobile-side-bar > div:nth-child(2) {
  top: 40%;
}

.mobile-top-bar__btn-toggle-mobile-side-bar > div:nth-child(3) {
  top: 80%;
}

.mobile-top-bar__btn-toggle-mobile-side-bar.active > div {
  top: 40%;
}

.mobile-top-bar__btn-toggle-mobile-side-bar.active > div:nth-child(1) {
  transform: rotate(45deg);
}

.mobile-top-bar__btn-toggle-mobile-side-bar.active > div:nth-child(2) {
  opacity: 0;
}

.mobile-top-bar__btn-toggle-mobile-side-bar.active > div:nth-child(3) {
  transform: rotate(-45deg);
}

.mobile-top-bar-padding {
  height: calc(var(--mobile-top-bar__height) + 30px);
}
.mobile-top-bar .logo {
    font-size: 2rem;
}
/* 모바일 탑바 끝 */


/*리스트 시작*/
:root {
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width));
  }
.article-list > * > div {
  display:flex;
}
.article-list > header > div > div {
position:relative;
}
.article-list > header > div > div::after {
content:"";
position:absolute;
top:50%;
transform:translateY(-50%);
right:0;
width:1px;
height:10px;
background-color:black;
}

.article-list > * > div > div {
	box-sizing:border-box;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}

.flex {
  display:flex;
}

.flex-jc-c {
  justify-content:center;
}
.article-list__cell-id {
width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
width:var(--article-list__cell-writer__width);
}

.article-list__cell-title {
width:var(--article-list__cell-title__width);
}	

.article-list__cell-lookup{
width:var(--article-list__cell-lookup__width);
}

.article-list > main .article-list__cell-title {
text-align:left;
padding-left:10px;
}

.article-list > .list-main > div {
border-top:1px solid black;
}

/* 게시물 리스트 박스 시작 */
.response-list-box > .con > table {
  border-top:3px solid black;
  width:100%;
  border-collapse:collapse;
  table-layout:fixed;
}

.response-list-box > .con > table > thead > tr > th {
  text-align:left;
}

.response-list-box > .con > table th,
.response-list-box > .con > table td {
  padding-top:20px;
  padding-bottom:20px;
}

.response-list-box > .con > table tr {
   transition:background-color 1s;
}

.response-list-box > .con > table tr.focus {
  background-color:#dfdfdf;
  transition:background-color 0s;
}
.response-list-box__title {
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

/* 게시물 리스트 박스 끝 */

/* 게시물 리스트 페이지박스 시작 */
.article-list-page-box {
	margin-top:30px;
}

.article-list-page-box > .con > a {
  padding:10px;
  border:1px solid transparent;
  margin:0 5px;
}

.article-list-page-box__page-btn--no {
	border-color:#dfdfdf !important;
}

.article-list-page-box__page-btn--no.color-red {
	border-color: #afafaf !important;
}

@media ( max-width:800px ) {
	.article-list-page-box > .con > a {
	  padding:7px;
	  border:0 solid transparent;
	  margin:0;
	}
	.articles .new {
    width:auto !important;
}
}
/* 게시물 리스트 페이지박스 끝 */
/* 게시물 리스트 박스 - MOBILE 시작 */
@media ( max-width:800px ) {
  .response-list-box > .con > table > thead,
  .response-list-box > .con > table > tbody > tr > td:not(.visible-sm-down) {
    display:none;
  }


  .response-list-box > .con > table > tbody > tr {
    width:100%;
  }

  .response-list-box > .con > table > colgroup > col {
    width:auto;
  }

  .response-list-box > .con > table > colgroup > col:first-child {
    width: 100%;
  }

  .response-list-box__id--mobile {
    background-color:#3D94F6;
    color:white;
    font-weight:bold;
    padding:0 7px;
    border-radius:10px;
  }

  .response-list-box__title--mobile {
    margin-left:5px;
  }

  .response-list-box > .con > table > tbody > tr > td.visible-sm-down > .flex:nth-child(2) {
    margin-top:10px;
  }

  .response-list-box > .con > table > tbody > tr > td.visible-sm-down > .flex:nth-child(2) > span:nth-child(2),
  .response-list-box > .con > table > tbody > tr > td.visible-sm-down > .flex:nth-child(2) > span:nth-child(4),
  .response-list-box > .con > table > tbody > tr > td.visible-sm-down > .flex:nth-child(2) > span:nth-child(6) {
    margin-left:5px;
    margin-right:5px;
  }
}

/* 게시물 리스트 박스 - MOBILE 끝 */

/* 게시물 리스트 박스 끝 */

/* 게시물 버튼 박스 시작 */
.article-btn-box > .con {
  padding-top:10px;
}
/* 게시물 버튼 박스 끝 */

/* 버튼 시작 */
.btn {
  font-size: 1rem;
  line-height: 1rem;
  padding: 10px 15px 7px 15px;
  display: inline-flex;
  font-weight: bold;
  border-radius: 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #3D94F6;
  color: #FFFFFF;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

.btn-reply {
  font-size: 1rem;
  line-height: 1rem;
  padding: 10px 15px 7px 15px;
  display: inline-flex;
  font-weight: bold;
  border-radius: 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #3D94F6;
  color: #FFFFFF;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

.btn-success {
  background-color: #28a745;
}

.btn-info {
  background-color: #17a2b8;
}

.btn-danger {
  background-color: #dc3540;
}

.btn-warning {
  background-color: #ffc100;
}

/* 버튼 끝 */

/* 버튼랩 시작 */
@media (min-width: 801px) {
  .btn-wrap {
    display:flex;
  }
  
  .btn-wrap > .btn + .btn {
    margin-left:10px;
  }
}
@media (max-width: 800px) {
  .btn {
    display: block;
    width: 100%;
    border-radius: 4px;
  }
  
  .btn-reply {
    display: block;
    width: 95%;
    border-radius: 4px;
  }
  
  .btn-wrap > .btn + .btn {
    margin-top:10px;
  }
}
/* 버튼랩 끝 */

/* 게시글 리스트 페이징 시작 */
.article-page-menu > div > ul a{
	padding: 12px;
}

/* 게시글 리스트 페이징 끝 */

/* 폼박스 시작 */
.form-box form {
  display:block;
  width:100%;
}

.form-box-50 form{
	width:100%;
}

.form-box  form > table {
  border-top:3px solid black;
  width:100%;
  border-collapse:collapse;
}

.form-box-50 form > table {
  margin-top:20px;
  width:100%;
  border-collapse:collapse;
}
.form-box form  table > tbody > tr > th {
  text-align:center;
}

.form-box form > table > tbody > tr > th,
.form-box form > table > tbody > tr > td {
  padding:10px 0;
}

.form-box form > table > tbody > tr > td > div > :only-child {
	width: 100%;
    box-sizing: border-box;
}

	
.form-box > form > table > tbody > tr > td > div > select{
	padding: 10px;
} 


.form-box form > table > tbody > tr > td > div > input[type="text"],
.form-box form > table > tbody > tr > td > div > input[type="password"],
.form-box form > table > tbody > tr > td > div > input[type="tel"],
.form-box form > table > tbody > tr > td > div > input[type="email"]{
  
   display:block;
  margin:15px 0;
  width:100%;
  box-sizing:border-box;
  padding:10px;
}

.form-box-50 form > table > tbody tr > td > div > input[type="text"],
.form-box-50 form > table > tbody tr > td > div > input[type="password"]
.form-box-50 form > table > tbody tr > td > div > input[type="tel"],
.form-box-50 form > table > tbody tr > td > div > input[type="email"]{
	
  display:block;
  margin:15px 0;
  width:100%;
  box-sizing:border-box;
  padding:10px;
}
.form-box > form > table > tbody > tr > td > div > input + .btn{
	margin-left:10px;
}

@media ( max-width:800px ) {
  .form-box  form > table > tbody > tr,
  .form-box  form > table > tbody > tr > th,
  .form-box  form > table > tbody > tr > td {
    display:block;
  }

  .form-box  form > table > tbody > tr {
    border-bottom: 1px solid #dfdfdf;
  }
  
  .form-box > form > table > tbody > tr > td > div{
  	 flex-wrap: wrap;
  }
  
  .form-box form  table > tbody > tr > th {
  	text-align:left;
}
.form-box > form > table > tbody > tr > td > div > input + .btn {
	margin-left: 0;
    margin-top: 10px;
    display: block;
    width: 100%;
}
}
/* 폼박스 끝 */

/* 디테일 페이지 시작 */
:root {
--article-detail__cell-id__width:70px;
--article-detail__cell-reg-date__width:190px;
--article-detail__cell-writer__width:120px;
--article-detail__cell-title__width:calc(100% - var(--article-detail__cell-id__width) - var(--article-detail__cell-reg-date__width) - var(--article-detail__cell-writer__width) - var(--article-detail__hit-count__width));
--article-detail__likes-count__width:70px;
--article-detail__comments-count__width:70px;
--article-detail__hit-count__width:70px;
}


.article-detail > * > div {
  display:flex;
}
.article-detail > header > div > div {
position:relative;
}

.article-detail > header > div > div::after {
content:"";
position:absolute;
top:50%;
transform:translateY(-50%);
right:0;
width:1px;
height:10px;
background-color:black;
}


.article-detail > .detail-title{
  margin-bottom:5px;
   border-bottom:1px solid black;
   text-align: center;
}



.article-detail{
	border-bottom:1px solid black;
}
.article-detail > .detail-main > .detail-body{
	margin-left: 30px;
}
.article-detail > .detail-main >.main-body{
	
	display:block;
  font-size:2rem;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;  
}

.article-detail > * > .detail-div > div {
box-sizing:border-box;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}
.article-detail__cell-id {
width:var(--article-detail__cell-id__width);
}

.article-detail__cell-reg-date {
width:var(--article-detail__cell-reg-date__width);
}

.article-detail__cell-writer {
width:var(--article-detail__cell-writer__width);
}

.article-detail__cell-title {
width:var(--article-detail__cell-title__width);
}	

.article-detail__comments-count {
width:var(--article-detail__comments-count__width);
}

.article-detail__likes-count {
width:var(--article-detail__likes-count__width);
}

.article-detail__hit-count {
width:var(--article-detail__hit-count__width);
}
.article-list > main .article-list__cell-title {
text-align:left;
padding-left:10px;
}

/*좋아요 싫어요 시작 */
.like-hate > .basic{
	width:100px;			
	margin-left:10px;
	margin-right:10px;
}

.like-hate > div div{
	width:100px;			
	margin-left:10px;
	margin-right:10px;	
}

.like-hate div > a{
	text-align:center;
	width:100%;
	padding:10px 0;
}
.like-hate div div .btn{
	text-align:center;
	width:100%;
	padding:10px 0;
}

/*좋아요 싫어요 끝 */
/* 디테일 페이지 끝 */

/* 댓글 박스 시작 */

.response-list-box > .con > table td .tui-editor-contents > :first-child {
	margin-top:0;
}

.response-list-box > .con > table td .tui-editor-contents > :last-child {
	margin-bottom:0;
}
.udl {
  text-decoration: underline;
}

.reple-box{
	margin-top: 20px;	
}
.reple-box > .comments{
	padding-bottom:8px;	
	border-bottom:1px solid #afafaf;
}
.reple-box > .comment-body{
	margin-top:5px;	
	margin-left:10px;
}
.reple-box > .btn-wrap{	
	text-align:right;
}
.comment-box{
	height:20%;
} 

.comment-main table tbody tr  td .toast-ui-viewer{
	margin-left:15px;
	width:75%;
}
.toast-ui-editor-comment {
	margin-bottom:5px;
}
/* 댓글 박스 끝 */

/* 게시글 작성 페이지 시작 */
.input-title{
	width:700px; 
    resize:none;
}
.min-height-100vh{
	min-height: 100vh;
}
.textarea-body{
	width:700px; 
	height:400px; 
    resize:none;
}
/* 게시글 작성 페이지 끝 */
/* 하단바 시작 */
.bottom-bar> .con > .logo >span {	
  margin-left: 50px;
  width:105px;
  height:100px;
  background-image:url('house.png');
  background-size: cover;
}

.bottom-bar {	
	background-color: black;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.bottom-bar__site-info {
	margin-left: 20px;
}
/* 하단바 끝 */

/* 모바일 사이드바 시작 */
.mobile-side-bar {
  background-color:black;
  color:white;
  position: fixed;
  top:var(--mobile-top-bar__height);
  left:100%;
  width:100%;
  height:100%;
  opacity:0;
  visibility:hidden;
  transition:left 0.3s, opacity 0.3s, visibility 0.3s;
  display: flex;
  align-items: center;
   z-index:1000;
}

html.mobile-side-bar-actived .mobile-side-bar {
	left:0;
	opacity: 1;
	visibility: visible;
}

.mobile-side-bar__menu-box-1 {
	width:100%;
}

.mobile-side-bar__menu-box-1 ul > li > a {
  padding:10px 0;
  text-align: center;
}

.mobile-side-bar__menu-box-1 ul > li > a:not(:only-child)::after {
	content:"[+]";
}

.mobile-side-bar__menu-box-1 ul > li:hover > a:not(:only-child)::after {
	content:"[-]";
}

.mobile-side-bar__menu-box-1 ul > li:hover > a {
	background-color:white;
	color:black;
}

.mobile-side-bar__menu-box-1 > ul ul {
	display: none;
	background-color:#454545;
}


@media ( max-width:800px ) {
	html.mobile-side-bar-actived,
	html.mobile-side-bar-actived > body {
		overflow: hidden;
	}
} 

main > .title-bar:not(:first-child) {
	margin-top:30px;
}
/* 모바일 사이드바 끝 */

/*메인화면 시작*/
.num1{
  width:30px;
  height:30px;
  background-color:#ff3366;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;  
}
.num2{
  width:30px;
  height:30px;
  background-color:#3399ff;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}
.num3{
  width:30px;
  height:30px;
  background-color:#ffcc00;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}
.num4{
  width:30px;
  height:30px;
  background-color:#6600ff;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}.num5{
  width:30px;
  height:30px;
  background-color:#66ff33;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}.num6{
  width:30px;
  height:30px;
  background-color:#666666;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}
.num7{
  width:30px;
  height:30px;
  background-color:#9966ff;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}
.num8{
  width:30px;
  height:30px;
  background-color:#00ff99;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}
.num9{
  width:30px;
  height:30px;
  background-color:#cc9999;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}
.num10{
  width:30px;
  height:30px;
  background-color:#3333ff;
  color:white;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  font-family:Bazzi;
}

.padding-15p{
  padding:15px 45px 15px 15px;
}
.border-red{
  border: 1px solid red;
}
.articles .new{
  width:33.3333%;
}
.articles{
  width:auto;
}
.hot-articles{
  width:200px;
}
.hot-articles > ul li {
  margin:10px;
}
.con-850{
	width:1000px;
}
.new{
	height:247px;
}
.new > ul > li:first-child {
	border-bottom: 1px solid #afafaf; 
	padding-bottom : 7px;
	font-weight:bold;
}
.new > ul > li:not(:first-child){
	padding-top:7px;
	padding-left:10px; 
	coloe:blue;
	overflow: hidden;
}
.new > ul > li > a > span{
	background-color:#494949;
	color:white;	
  	border-radius:15px;
  	padding: 0 3px 3px 3px;
}
.new > ul > li:first-child > a:hover{
	color:red;
	font-weight:bold;
}
.new > ul > li:first-child > a:hover > span{
	color:white;
	font-weight:bold;
	background-color:#6bacce;
}
.new > ul > li:not(:first-child) > a:hover{
	color:#6bacce;
	font-weight:bold;
}
.hot-articles > ul > li:first-child{
	color:red;
	font-weight:bold;
}
.hot-articles > ul > li > a > div{
	margin-right:7px;
	line-height:30px;
}

.sbs-2021-slider {
  position:relative;
}

.sbs-2021-slider .arrows > div {
  font-size:4rem; /* 임시 */
  position:absolute;
  right:calc(100% + 30px);
  top:50%;
  transform:translateY(-50%);
  z-index:10;
  user-select:none;
  cursor:pointer;
}

.sbs-2021-slider .arrows > div:last-child {
  right:auto;
  left:calc(100% + 30px);
}

.sbs-2021-slider .arrows > div:active {
  transform:translateY(-45%);
}

.sbs-2021-slider .items-wrap {
  height:500px; /* 임시 */
  position:relative;
}

.sbs-2021-slider .items > div {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  font-size:5rem; /* 임시 */
  opacity:0;
  visibility:hidden;
  position:absolute;
  transition:opacity 0.3s, visibility 0.3s;
}

.sbs-2021-slider .items > div.active {
  opacity:1;
  visibility:visible;
}

.sbs-2021-slider .items > div > .bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

/*
.sbs-2021-slider .items > div > img {
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}
*/

.sbs-2021-slider .pages-wrap {
  display:flex;
  justify-content:center;
  margin-top:10px;
}

.sbs-2021-slider .pages {
  display:flex;
}

.sbs-2021-slider .pages > div {
  width:15px;
  height:15px;
  background-color:rgba(0,0,0,0.2);
  border-radius:50%;
  margin:0 5px;
  cursor:pointer;
}

.sbs-2021-slider .pages > div.active {
  background-color:rgba(0,0,0,1);
}
.sbs-2021-slider .items > div > a{
	
	
}

.sbs-2021-slider .items > div > .free-image{	
	background-image: url('free.png'); 
}
.sbs-2021-slider .items > div >.cook-image{
	background-image: url('cook.jpg'); 
}
.sbs-2021-slider .items > div > .bug-image{	
	background-image: url('bug.png'); 
}
.sbs-2021-slider .items > div > .single-image{	
	background-image: url('single.jpg'); 
}
.sbs-2021-slider .items > div > .tip-image{
	background-image: url('tip.png'); 
}
.sbs-2021-slider .items > div > .question-image{	
	background-image: url('question.jpg'); 
}
.sbs-2021-slider .items > div > .notice-image{	
	background-image: url('notice.jpg'); 
} 
/*메인화면 끝*/