<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<!-- 유용한 링크 -->
<!-- cdnsj : https://cdnjs.com/ -->
<!-- 폰트어썸 아이콘 리스트 : https://fontawesome.com/icons?d=gallery&m=free -->

<!-- 구글 폰트 불러오기 -->
<!-- rotobo(400/900), notosanskr(400/900) -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Roboto:wght@400;900&display=swap" rel="stylesheet">

<!-- 폰트어썸 불러오기 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<link rel="stylesheet" href="app.css">
<!-- 제이쿼리 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="app.js"></script>
<title>Insert title here</title>
</head>
<body>
<header>
  <div class="top-bar con-min-width">
    <div class="con flex flex-ai-c">
      <a href="#" class=" logo flex  height-100p">
        LottoC
      </a>
      <div class="flex-grow-1"></div>    
      <nav class="search height-50p">
      <input @input="searchKeywordInputed" type="text" placeholder="검색어" :value="searchKeyword">
      </nav>
    </div>
  </div>

<div class="menu-bar visible-on-md-up">
  <div class="con flex flex-jc-sb height-100p">
    <nav class="menu-box-1">
      <ul class="flex height-100p">
        <li><a href="#" class="flex height-100p flex-ai-c">공지사항</a>
          <ul>
            <li>
            	<a href="#" class="block">로또번호</a>  
        	</li>
      	  </ul>          
      </li>
    <li><a href="#" class="flex height-100p flex-ai-c">방명록</a></li>
    <li><a href="#" class="flex height-100p flex-ai-c">커뮤니티</a>        
      <ul>
        <li><a href="#" class="block">자유게시판</a></li>
        <li><a href="#" class="block">2차 메뉴 아이템 3</a></li>
        <li><a href="#" class="block">2차 메뉴 아이템 4</a></li>
      </ul>
    </li>
    </ul>
  </nav>
</div>
</div>
</header>
</body>

</html>